@model ReporteFacturas
@{
    ViewData["Title"]="Reporte Facturas Electronicas";
}

<div class="card">
  <div class="card-header">
    Featured
  </div>
  <div class="card-body">
<table>
    <thead>
        <tr>
                    <th>Id Registro</th>
                    <th>Cliente</th>
                    <th>Factura</th>
                    <th>Prefijo</th>
                    <th>Total</th>
                    <th>Nombre</th>
                    <th>Tipo de pago</th>
                    <th>Fecha de pago</th>
                    <th>Imagen</th>
                    <th>Estado</th>
        </tr>
    </thead>
</table>
  </div>
</div>
