<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ConexionNube" value="Data Source=cloudserver.parquearse.com;Initial Catalog=FacturacionElectronica;User ID=sa;Password=Parquearse123"/>
		<add key="ConexionNubeParking" value="Data Source=cloudserver.parquearse.com;Initial Catalog=Parking;User ID=sa;Password=Parquearse123"/>
		<add key="ConexionLocal" value="User ID=SYSDBA;Password=masterkey;Database=C://magister/datos/magisterz.mgt;DataSource=192.168.1.92;Charset=NONE;"/>
		<add key="RutaArchvoClientes" value="C:\Users\AUXILIAR_CONTABLE\Desktop"/>
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>