@model DateTime
@{
    ViewData["Title"] = "Fecha no válida";
}
<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #f1f1f1;
        }

        h1 {
            color: #ffffff;
        }

        a {
            display: inline-block;
            padding: 10px 20px;
            margin-top: 20px;
            background-color: #333333;
            color: #ffffff;
            text-decoration: none;
        }
    </style>
</head>
<body>
    
    <h1> Fecha no válida @Model.ToString("yyyy-MM-dd")</h1>
    <a href="/Pagos/Crear">Solicitar nueva factura</a>
</body>
</html>