@{
    ViewData["Title"] = "No Encontrado";
}
<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #f1f1f1;
        }

        h1 {
            color: #ffffff;
        }

        a {
            display: inline-block;
            padding: 10px 20px;
            margin-top: 20px;
            background-color: #333333;
            color: #ffffff;
            text-decoration: none;
        }
    </style>
</head>
<body>
<h1>El recurso solicitado no ha sido encontrado</h1>
<a asp-action="Index" asp-controller="Pagos">Click aquí para regresar</a>
</body>
</html>